@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the tech talk!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://cloud.gov/docs/management/continuous-deployment/">continuous deployment on the cloud.gov platform</a>.</p>
    <p>Code for this demo, along with sample workflows <a href="https://github.com/cloud-gov/tech-talk-continuous-deployment">available here</a>.</p>
</div>
